.web-title{
    padding: 20px; background-color: orange;
    margin-top: auto;
}
.shapes{
    font-family: nexa;
    color: blue;
}
.colors{
    font-family: nexa;
    color: red;
}
.feelings{
    font-family: nexa;
    color: indigo;
}
.titlecol{
    text-align: center;
    font-size: 50px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
.content{
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    display: flex;
}
.counter{
    width: 100%;
    transition: .5s ease;
}
.counter .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.counter .row .item{
    max-width: 210px;
    padding: 30px;
    height: 250px;
    border: 2px solid red;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}
.counter .row .item:hover{
    background-color: #e6e6e6;
}
.counter .row .item img{
    width: 100%;
    margin: 30px 0;
}
.counter .row .item .english-name{
    color: #707070;
    font-weight: bold;
}
.counter .row .item .spanish-name{
    color: #f85151;
    font-weight: bold;
    font-size: 20px;
}
.selection{
    max-height: 782px;
    overflow-y: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-124.5%, -71.3%);
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: #fffffff6;
}
.close{
    position: absolute;
    right: 0;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.info{
    padding: 20px;
}
.info img{
    display: block;
    margin: 30px auto;
    width: 80%;
}
.info h2{
    color: #707070;
    margin-bottom: 10px;
}
.info p{
    font-size: 14px;
    color: #707070;
    margin-bottom: 10px;
}
.info .class-1{
    font-size: 30px;
    font-weight: bold;
    color: #f85151;
    margin-bottom: 10px;
    display: block;
}
.info .fila{
    display: flex;
    align-items: flex-end;
}
.info .fila label{
    display: block;
    margin-bottom: 10px;
}
.info .fila select{
    width: 100px;
    font-size: 18px;
    padding: 6px;
    margin-right: 30px;
}
.info .fila button{
    height: 40px;
    border: none;
    padding: 0 10px;
    color: #fff;
    background-color: #f85151;
}
.img1{
    height: 110px;
    width: 80px;
}
.jetblack{
height: 100px;
width: 300px;
}
.yellow{
    width: 20px;
}
.shapesti{
    font-size: 100px;
    text-align: center;
    color: navy;
    padding: 10px; background-color:rgb(181, 233, 255);
    margin-top: 10px;
}
.titlecol{
    font-size: 100px;
    text-align: center;
    color: #f85151;
    padding: 10px; background-color:moccasin;
    margin-top: auto;
}
.clickcolors{
    font-size: 20px;
    color: #f85151;
    margin-left: 45px;
    font-family: nexa;
}
.clickshapes{
    font-size: 20px;
    color: navy;
    margin-left: 45px;
    font-family: nexa;
}
.introduction{
    margin-left: 40px;
}
.colorquestion{
    margin-left: 40px;
    color: #f85151;
}
.colortext{
    margin-left: 40px;
    font-family: nexa;
}
.shapestext{
    font-family: nexa;
    margin-left: 40px;
}
.imagecolorquestion{
    height: 160px;
    width: 250px;
    margin-left: 40px;
    border-radius: 15px;
}
.imageshapesquestion{
    height: 160px;
    width: 240px;
    margin-left: 40px;
    border-radius: 15px;
}
.shapesquestion{
    margin-left: 40px;
    color: navy;
}
.scalenetriangle{
    height: 100px;
    width: 90px;
}
.feelingsti{
    font-size: 100px;
    text-align: center;
    color:blueviolet;
    padding: 10px; background-color:rgb(231, 194, 252);
    margin-top: auto;
}
.clickfeelings{
    font-size: 20px;
    color: blueviolet;
    margin-left: 40px;
    font-family: nexa;
}
.imagefeelingsquestion{
    height: 160px;
    width: 280px;
    margin-left: 40px;
    border-radius: 15px;
}
.feelingsquestion{
    margin-left: 40px;
    color: blueviolet;
}
.feelingstext{
    font-family: nexa;
    margin-left: 40px;
}
.english-name, .spanish-name{
    font-family: nexa;
}
#modelo{
    font-family: nexa;
}
#descripcion{
    font-family: nexa;
}
#id-1{
    font-family: nexa;
}
body{
    background-color: #f8f6f6;
}